<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static  'app/style.css' %}" />
    <title>{% block title %} EHR Services {% endblock %}</title>
</head>

<body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/candidate/">Candidate space</a>
      <a href="/recruiter/">Recruiter space</a>
    </div>
<div style="padding-left:16px">
{% if user.groups.all.0.name == 'recruiters' %}
  <br>
  <div>Connected as a recruiter</div>
{% endif %}

{% if user.groups.all.0.name == 'candidates' %}
  <br>
   <p>Connected as a candidate</p>
{% endif %}
{% if request.user.username %}
  <div>user : {{request.user.username}}</div>
  <a href="/recruiter/logout/">logout</a><br>
{% endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
