{% extends "app/base.html" %}

{% block Homepage %}Batch CV{% endblock %}

{% block content %}
<div style="padding-left:16px">
  <h2>Recruiter space</h2>
  <h4>Batch CV parser</h5>

  {% if form %}
  <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
    {{ form }}
    <input type="submit" name="submit">
  </form>
  {% endif %}

  {% if names %}
  <p>The following candidates were added.</p>
    <ul>
      {% for n in names %}
        <li>{{n}}</li>
      {% endfor%}
    </ul>
  {% endif %}
</div>
{% endblock %}
