{% extends "app/base.html" %}

{% block Homepage %}Matched Candidate{% endblock %}

{% block content %}
<br>
<div style="margin:0 auto;width: 50%;text-align: center; border: 2px solid; background: #e5e5e5; color: #444">
  <h2>Recruiter space</h2>
  <h3>View Candidate</h3>
    <form>
        <fieldset disabled="disabled">
            <table style="margin: 0px auto; border-style: ;border-width: 1px">
              {{ form }}
            </table>
        </fieldset>
    </form>
  <br>
  <form action="./contact">
      <input type="submit" value="Contact" style="font-size: 20px; color: #444;font-weight: bold; width: 60%; background: #ccc" />
  </form>
</div>


{% endblock %}
