<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
</head>
<body>

<div class="topnav">
  <a href="../">Home</a>
  <a class="active" href="../candidate/">Candidate</a>
  <a href="../joboffer/">Job offer</a>
  <a href="../database/">Database</a>
</div>

<div style="padding-left:16px">
  <h2>Candidate space</h2>
  <p>Deposit you resume here.</p>
  <form action="./submit/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="File" name="cv_file">
    <div>
      <button type="submit">Upload</button>
    </div>
  </form>
</div>
</body>
</html>

