{% extends "app/base.html" %}

{% block Homepage %}EHR homepage{% endblock %}

{% block content %}
<div style="margin:0 auto;width: 50%;text-align: center; border: 2px solid; background: #e5e5e5; color: #444" ><br>
<h2 style="font-weight: bold;">Recruiter space</h2>
  <div>Please fill the following form to post your job offer on our platform.</div>
  <form method="post">
    {% csrf_token %}
    <table style="margin: 0px auto; border-style: ;border-width: 1px"><br>
      {{ form }}
    </table><br>
    <input type="submit" value="Submit" style="font-size: 20px; color: #444;font-weight: bold; width: 60%; background: #ccc" />
    <div style="color: #aaa">Submitting will redirect you to the manage page of this offer.</div>
  </form><br>
</div>
{% endblock %}
