{% extends "app/base.html" %}

{% block Homepage %}EHR homepage{% endblock %}

{% block content %}
<div style="padding-left:16px">
<h2>Recruter space</h2>
{% if request.user.username %}
<div>Username : {{request.user.username}}</div>
<a href="/recruter/logout/">logout</a>
<br>
  <h3>Fill the job offer form</h3>
  <form action="./submit/" method="post">
    {% csrf_token %}
    <table>
      {{ form }}
    </table>
    <input type="submit" value="Submit" />
{% endif %}
<div style="padding-left:16px">

</div>
{% endblock %}
