{% extends "app/base.html" %}

{% block content %}
<div style="margin:0 auto;width: 95%; background: #e5e5e5; color: #444"><br>
<h2 style="text-align: center;font-weight: bold; color: #111">Candidate space</h2>
<div style="padding-left:30%">
{% if not message %}
{% if offers %}
    <div style="font-weight: bold; font-size: 23px;color: #333">Offers List</div>
      <div style="color: #999">The offers are presented sorted according to how well they match the informaion extracted from your CV.<br><br></div>
      {% for offer in offers %}
        <ul>
            <li><a href="./{{offer.1}}/">{{ offer.0 }}</a></li>
        </ul>
      {% endfor %}
{% endif %}
{% else %}
 {{ message }}
{% endif %}
<br></div>


{% endblock %}
