{% extends "app/base.html" %}

{% block content %}
<div style="padding-left:16px">
<h2>Recruiter space</h2>
<div style="padding-left:16px">
<form>
  <select name="db">
    <option disabled selected>Choose CV uploader</option>
    <option value="yours">Recruiter</option>
    <option value="ours">Candidate</option>
  </select>
  <input type="submit" value="Match">
</form>
    <br>
    L'offre:
      {{ offer }}
      {% for cand in candidates %}
        <ul>
            <li><a href="./{{cand.id}}">{{ cand.name }}</a></li>
        </ul>
      {% endfor %}
</div>

{% endblock %}
