{% extends "app/base.html" %}

{% block Homepage %}EHR homepage{% endblock %}

{% block content %}
    <div style="padding-left:16px">
    <h2>Recruiter space</h2>
    {% if user.groups.all.0.name == 'recruiters' %}
    <table>
      <form action="/recruiter/job_offer/">
        <input type="submit" value="Job offer" />
      </form>

      <form action="/recruiter/view_offer/">
        <input type="submit" value="View offers"/>
      </form>

      <form action="/recruiter/parse_cvs/">
        <input type="submit" value="Batch CV parsing"/>
      </form>
    </table>
    {% else %}
    <a href="/recruiter/signup/">sign-up</a>
    <a href="/recruiter/login/">login</a>
    <h4>Login or create a recruiter account to access our services!</h4>
    {% endif %}
{% endblock %}
