{% extends "app/base.html" %}

{% block Homepage %}Candidate space{% endblock %}

{% block content %}

<div style="padding-left:16px">
  <h2>Candidate space</h2>
  {% if get %}
  <div style="font-size: 25px;font-weight:bold">Upload you resume here.<br></div>
  <div>{{ message }}</div><br><br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <select name="language">
      <option selected disabled>Resume language</option>
      <option>French</option>
      <option>English</option>
    </select>
    <input type="File" name="cv_file">
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
  {% endif %}

  {% if post %}
    <h4>
      {% if success %}
        Submit succesful<br>
        <p>{{ message }}</p>
      {% else %}
        <div>{{ message }}</div>
        <div style="font-size: 18px">{{message2}}<br><br></div>
        <a href="./">Try again!</a>
      {% endif %}
    </h4>
  {% endif %}
</div>
{% endblock %}
