{% extends "app/base.html" %}

{% block Homepage %}Candidate space{% endblock %}

{% block content %}

<div style="margin:0 auto;width: 95%;text-align: center;background: #e5e5e5; color: #444"><br>
  <h2>Candidate space</h2>
  {% if get %}
  <div style="font-size: 25px;font-weight:bold">Upload you resume here.<br></div>
  <div>{{ message }}</div><br><br>
  <form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
      <select name="language" style="background: #ccc; width: 30%;align-content: center;">
        <option selected disabled style="font-size: 20px; color: #444;">Resume language</option>
        <option>French</option>
        <option>English</option>
      </select><br><br>
    <input type="File" name="cv_file" style="margin:0 auto;text-align: center;font-size: 20px; color: #444;font-weight: bold; width: 30%; background: #ccc"><br>
    <div>
      <input type="submit" value="Upload" style="font-size: 20px; color: #444;font-weight: bold; width: 30%; background: #ccc" /><br>
    </div>
  </form>
  {% endif %}

  {% if post %}
      {% if success %}
        <h4>Submit succesful</h4>
        <div>{{ message }}</div>
        <div>CV file uploaded to <a href="{{cv_ref}}">{{cv_ref}}</a></div><br><br><br>
        <div style="border-width: 2px;border-style: solid; border-color: #bbb; width: 50%;margin:0 auto;"><br><br>
        <div style=" font-size: 25px">Overview of the extracted information</div><br>
        <form>
            <fieldset disabled="disabled">
                <table style="margin: 0px auto;">
                  {{ form }}
                </table>
            </fieldset>
        </form><br><br>
        </div>
        {%else%}
        <div>{{ message }}</div>
        {% if message2 %}
          <div style="font-size: 18px">{{message2}}</div>
          <div style="font-size: 18px">{{message3}}<br><br></div>
        {%endif%}
        <a href="./">Try again!</a>
      {% endif %}
  {% endif %}<br>
</div>
{% endblock %}
